/* ------------------------------------------- */
/* CSS External Style Sheet - P01 Schweers     */
/* ------------------------------------------- */

/* DYNAMIC CALENDAR STYLE INFO */

.calendar {
	text-align: center;
	border: 3px solid black;
	border-style: ridge;
	border-collapse: collapse;
	table-layout: fixed;
	width:50%;
	margin-left: auto; 
  	margin-right: auto;
	background-color: white;
}

.th {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	background-color: lightgrey;	
	width: 60;
}

.tr {
	height: 50;
	border: 1px solid black;
}

.td {
	width: 20px;
	padding-top: 5px;
	padding-bottom: 80px;
	padding-right: 0px;
	padding-left: 5px;
	border: 1px solid black;
	text-align: left;
	background-color: white;
}

/* PAGE BACKGROUND */
body {
	background-color: maroon;
}

/* PAGE ALIGNMENT */
div {
	text-align: center;
}

/* OTHER TEXT STYLE ATTRIBUTES */
h1, h2, p {
	color: white;
	text-align: center;
}

label {
	color: white;
}